table{

   
   direction: rtl;
   margin-left: 55%;
   margin-top: 100px;
}

td{
    border-bottom: 1px solid black;
    margin-left: 20px;
    text-align: start;
    padding: 7px 15px 7px 15px;
}

.engl{
    direction: ltr;
}